<launch>
	<param name="use_sim_time" value="true"/>
	
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/tilting_wall/nothing.bag &#45;s 30"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/tilting_wall/1largeplate15deg.bag &#45;s 30"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/tilting_wall/1largeplate30deg.bag &#45;s 30"/> -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/tilting_wall/1largeplate45deg.bag -s 30"/>
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/tilting_wall/1smallplate30deg.bag &#45;s 30"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/tilting_wall/2largeplate30deg.bag &#45;s 30"/> -->

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/.rviz/velodyne.rviz"/>

	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>

	<node pkg="pose_estimation_walls" name="pose_estimation_walls" type="g_vector_estimation_walls" output="screen"/>
</launch>
