<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/infant/2018&#45;12&#45;12&#45;18&#45;38&#45;39.bag &#45;s 50"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/infant/2018&#45;12&#45;18&#45;21&#45;50&#45;17.bag &#45;s 50"/> -->
	<!-- <node pkg="rosbag" type="play" name="player" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/infant/2019&#45;01&#45;08&#45;13&#45;57&#45;45.bag &#45;s 0"/> -->

	<!-- rosbag with mocap -->
	<node pkg="rosbag" type="play" name="player_infant" args="--clock /home/amsl/ozaki/bagfiles/infant_mocap/2018-12-09-14-40-09.bag -s 0"/>
	<!-- <node pkg="rosbag" type="play" name="player_vicon" args="&#45;&#45;clock /home/amsl/ozaki/bagfiles/infant_mocap/2018&#45;12&#45;09&#45;14&#45;40&#45;09_.bag &#45;s 0"/> -->

	<!-- rviz -->
	<!-- <node pkg="rviz" type="rviz" name="rviz_startpoint" args="&#45;d /home/amsl/.rviz/trajectories_startpoint.rviz"/> -->
	<!-- <node pkg="rviz" type="rviz" name="rviz_skyview" args="&#45;d /home/amsl/.rviz/trajectories_skyview.rviz"/> -->

	<!-- sensor driver -->
	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>
	<!-- <node pkg="image_transport" type="republish" name="republish" args="compressed raw"> -->
	<!-- 	<remap from="in" to="/camera/color/image_raw"/> -->
	<!-- 	<remap from="out" to="/camera/color/image_raw"/> -->
	<!-- </node> -->

	<!-- proposed method -->
	<node pkg="pose_estimation_walls" name="odom_republish_infant" type="odom_republish_infant"/>
	<node pkg="pose_estimation_walls" name="imu_initial_alignment" type="imu_initial_alignment" output="screen"/>
	<node pkg="pose_estimation_walls" name="ekf_pose" type="ekf_pose" output="screen"/>
	<node pkg="pose_estimation_walls" name="pose_estimation_gaussian_spheres" type="pose_estimation_gaussian_spheres" output="screen">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>
	<node pkg="pose_estimation_walls" name="combine_linearvelocity_and_pose" type="combine_linearvelocity_and_pose">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>

	<!-- comparisons	 -->
	<node pkg="pose_estimation_walls" name="gyrodometry" type="gyrodometry">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>
	<include file="$(find loam_velodyne)/launch/hector_loam_velodyne.launch"/>
	<node pkg="pose_estimation_walls" name="odom_creater_for_loamvelodyne" type="odom_creater_for_loamvelodyne"/>
	<node pkg="pose_estimation_walls" name="odom_creater_for_lsdslam" type="odom_creator_for_lsdslam">
		<remap from="/odom" to="/tinypower/odom/republished"/>
	</node>

	<!-- graph -->
	<!-- <node pkg="pose_estimation_walls" name="graph_rpy" type="graph_rpy.py"/> -->
</launch>
