<launch>
	<!-- global rosparam -->
	<param name="use_sim_time" value="true"/>

	<!-- rosbag -->
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/mocap/0127_vicon/2019-01-27-17-05-52.bag"/>

	<!-- rviz -->
	<node pkg="rviz" type="rviz" name="rviz_skyview" args="-d /home/amsl/.rviz/vicon.rviz"/>

	<!-- printer -->
	<node pkg="pose_estimation_walls" name="mocap_printer" type="mocap_printer" output="screen"/>
</launch>
