<launch>
	<param name="use_sim_time" value="true"/>
	
	<node pkg="rosbag" type="play" name="player" args="--clock /home/amsl/ozaki/bagfiles/velodyne_realsense/2018-10-06-12-14-59.bag"/>

	<node pkg="rviz" type="rviz" name="rviz" args="-d /home/amsl/.rviz/velodyne.rviz"/>

	<include file="$(find velodyne_pointcloud)/launch/32e_points.launch"/>

	<node pkg="pose_estimation_walls" name="pose_estimation_walls" type="pc_fittingwalls" output="screen"/>
</launch>
